<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.android.sdk.iap.lib"
    android:versionCode="600000001"
    android:versionName="6.0.0">

    <application>
        <!-- IAP 라이브러리 내 Activity 선언 시작-->

        <activity
            android:name="com.samsung.android.sdk.iap.lib.activity.DialogActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Empty" />

        <activity
            android:name="com.samsung.android.sdk.iap.lib.activity.CheckPackageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Empty" />

        <activity
            android:name="com.samsung.android.sdk.iap.lib.activity.AccountActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name="com.samsung.android.sdk.iap.lib.activity.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Empty" />

        <!-- IAP 라이브러리 내 Activity 선언 끝-->
    </application>

</manifest>